.submitButton{
    background: #3379ce;
    border: 0px;
    color: white;
    font-size: 12pt;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;

    &:hover{
        background: rgb(12, 100, 177);
    }
}