:root {
  //LIGHT MODE COLOR SET
  --clr-text-light: #000;
  --clr-bg-light: #f5f5f5;
  --clr-card-light: #fafafa;
  --clr-primary-light: #3379ce;
  --clr-secondary-light: #17377b;
  --clr-labelText-light: rgba(0, 0, 0, 0.5);
  --clr-inputBorder-light: rgba(0, 0, 0, 0.25);
  --clr-cardDropShadow-light: rgba(0, 0, 0, 0.1);

  //DARK MODE COLOR SET
  --clr-text-dark: #fff;
  --clr-bg-dark: #272727;
  --clr-card-dark: #212121;
  --clr-primary-light: #3379ce;
  --clr-secondary-light: #17377b;
  --clr-labelText-light: rgba(255, 255, 255, 0.5);
  --clr-inputBorder-light: rgba(255, 255, 255, 0.25);
  --clr-cardDropShadow-light: rgba(255, 255, 255, 0.1);

}
