.modal {
  background: white;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  //   outline: 2px solid green;
  position: fixed;
  top: 8rem;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:focus {
    outline: none;
  }

  img {
    max-width: 100px;
    margin: 2rem;
  }

  p {
    max-width: 450px;
  }

  button {
    margin: 1rem auto;
  }
}

@media (min-width: 768px) {
  .modal {
  }
}
