:root {
  --view_phones: 480px;
  --view_tablets: 768px;
  --view_laptops: 1279px;
  --view_desktop: 1280px;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-text-light: #000;
  --clr-bg-light: #f5f5f5;
  --clr-card-light: #fafafa;
  --clr-primary-light: #3379ce;
  --clr-secondary-light: #17377b;
  --clr-labelText-light: rgba(0, 0, 0, 0.5);
  --clr-inputBorder-light: rgba(0, 0, 0, 0.25);
  --clr-cardDropShadow-light: rgba(0, 0, 0, 0.1);
  --clr-text-dark: #fff;
  --clr-bg-dark: #272727;
  --clr-card-dark: #212121;
  --clr-primary-light: #3379ce;
  --clr-secondary-light: #17377b;
  --clr-labelText-light: rgba(255, 255, 255, 0.5);
  --clr-inputBorder-light: rgba(255, 255, 255, 0.25);
  --clr-cardDropShadow-light: rgba(255, 255, 255, 0.1);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

p {
  font-size: 11px;
}

label {
  font-size: 11px;
  color: #17377b;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #17377b;
  font-size: 11px;
}

.error {
  color: red;
  font-style: italic;
  max-width: 80vw;
}

input {
  border: solid rgba(0, 0, 0, 0.25) 1px;
  font-size: 11pt;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
}

input:focus {
  outline: none;
  border: solid rgba(0, 0, 0, 0.5) 1px;
}

.submitButton {
  background: #3379ce;
  border: 0px;
  color: white;
  font-size: 12pt;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
}

.submitButton:hover {
  background: #0c64b1;
}

.modal {
  background: white;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  position: fixed;
  top: 8rem;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal:focus {
  outline: none;
}

.modal img {
  max-width: 100px;
  margin: 2rem;
}

.modal p {
  max-width: 450px;
}

.modal button {
  margin: 1rem auto;
}

.home {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
}

.signinPage {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signinPage__card {
  max-width: 320px;
  width: 100%;
  border-radius: 12px;
  padding: 24px;
}

.signinPage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 12px;
}

.signinPage form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signinPage__forgotPassword, .signinPage__createAccount {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .signinPage .signinPage__card {
    max-width: 320px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=main.css.map */