:root {
  --view_phones: 480px;
  --view_tablets: 768px;
  --view_laptops: 1279px;
  --view_desktop: 1280px;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.submitButton {
  background: #3379ce;
  border: 0px;
  color: white;
  font-size: 12pt;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
}

.submitButton:hover {
  background: #0c64b1;
}

:root {
  --clr-text-light: #000;
  --clr-bg-light: #f5f5f5;
  --clr-card-light: #fafafa;
  --clr-primary-light: #3379ce;
  --clr-secondary-light: #17377b;
  --clr-labelText-light: rgba(0, 0, 0, 0.5);
  --clr-inputBorder-light: rgba(0, 0, 0, 0.25);
  --clr-cardDropShadow-light: rgba(0, 0, 0, 0.1);
  --clr-text-dark: #fff;
  --clr-bg-dark: #272727;
  --clr-card-dark: #212121;
  --clr-primary-light: #3379ce;
  --clr-secondary-light: #17377b;
  --clr-labelText-light: rgba(255, 255, 255, 0.5);
  --clr-inputBorder-light: rgba(255, 255, 255, 0.25);
  --clr-cardDropShadow-light: rgba(255, 255, 255, 0.1);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

p {
  font-size: 11px;
}

label {
  font-size: 11px;
  color: #17377b;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #17377b;
  font-size: 11px;
}

.error {
  color: red;
  font-style: italic;
  max-width: 80vw;
}

input {
  border: solid rgba(0, 0, 0, 0.25) 1px;
  font-size: 11pt;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
}

input:focus {
  outline: none;
  border: solid rgba(0, 0, 0, 0.5) 1px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__inner {
  text-align: justify;
  position: relative;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  background-color: white;
  text-align: center;
}

.popup__inner p {
  padding: 15px 0px;
}

.popup__closeButton {
  background: #3379ce;
  border: 0px;
  color: white;
  font-size: 12pt;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
}

.popup__closeButton:hover {
  background: #0c64b1;
}

.footerComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  width: 320px;
}

.footerComponent__darkMode {
  margin: 0 15px 0 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.footerComponent__selectLanguage {
  border: 0px;
  font-size: 10pt;
  text-decoration: underline;
  cursor: pointer;
}

.footerComponent__disclaimers {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 12px;
}

.footerComponent__disclaimers a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.footerComponent__disclaimers a:hover {
  color: #5c5c5c;
}

@media only screen and (max-width: 768px) {
  .footerComponent {
    padding: 0 24px;
  }
}

.loadingDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingDiv__loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  margin: auto;
  border-top: 8px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
}

.signinPage {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signinPage__card {
  max-width: 320px;
  width: 100%;
  border-radius: 12px;
  padding: 24px;
}

.signinPage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 12px;
}

.signinPage form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signinPage form button {
  margin-left: auto;
}

.signinPage__forgotPassword, .signinPage__createAccount {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .signinPage .signinPage__card {
    max-width: 320px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=main.css.map */